@mixin form-container {
  margin: 10% auto 0 auto;
  max-width: 600px;
  height: fit-content;

  form {
    padding: 20px;
  }
  form > * {
    display: flex;
    flex-direction: column;
  }
  .btn-submit {
    margin: 10px 10px 10px 0;
  }
}
